@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
*{
font-family: "Playwrite DE Grund", cursive;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #0b0b33;
    color : white;
}
header{
    background:#005795;
    padding:10
}
header .logo{
   width: fit-content;
   margin: auto;
   cursor: default;
}
.container {
  background: #100f51;
  color: #2ba4d9;
  margin: 30px auto;
  padding: 20px 30px ;
  width: 70vw;
  cursor: default;
  border-radius:18px;
}
.container h2{
    font-size: 20px ;
    margin-bottom: 12px;
}
.container p{
font-size: 12px;
}

#scrollontop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollontop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* style.css */
#top-link {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    z-index: 100; /* Установка индекса Z для видимости над другим контентом */
}

#top-link span {
    display: block; /* Выравнивание текста в одну строку */
}
