{% load static %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>NEWS</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="{% static 'js/index.js' %}"></script>
  </head>

  <body>
  <header>
    <h1 class = "logo">NEWS</h1>
  </header>
    <br />

    <div>
      {% for item in news %}
      <div class="container">
        <h2>{{item.title}} | {{item.source.name}}</h2>
        <p>{{item.description}}</p>
      </div>
      {% endfor %}
    </div>
  <button onclick="topFunction()" id="scrollontop">Top</button>
   <script>
let mybutton = document.getElementById("scrollontop");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    scrollontop.style.display = "block";
  } else {
    scrollontop.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0; 
  document.documentElement.scrollTop = 0; 
}
</script>
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Исходный код(GitHub)</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="https://github.com/4eBUreG-P/project" id="top-link">
        <span>Исходный код(GitHub)</span>
    </a>
</body>
</html>
